In [1]:
import numpy as np
import pandas as pd
import time

In [13]:
import dask.dataframe as dd
time_start0 = time.perf_counter()
reader = dd.read_csv(
    "../data/originData.csv", 
    )
reader_use = reader[reader.tickerName=="000001.SZ"]
# reader_use.compute()

In [19]:
stockList = pd.read_pickle("../data/stockDivideData/uniqueStockList.pkl")
time_start0 = time.perf_counter()
reader = pd.read_csv(file_path, sep=',', chunksize=1000000)
print("Time spent for reading file is: %.4f ms" %((time.perf_counter() - time_start0)*1000))
for i, chunk in enumerate(reader):
    time_start1 = time.perf_counter()
    print("start... ", i)
    for stockCode in stockList[:100]:
        time_start = time.perf_counter()
        stockFilePath = "../data/stockDivideData/StockData/" + stockCode + ".csv"
        if(i==0):
            chunk[chunk['tickerName']==stockCode].to_csv(stockFilePath)
        else:
            chunk[chunk['tickerName']==stockCode].to_csv(stockFilePath, mode="a", header=False)
    print("***finish " , i, " th wrting, the length of chunk is: ", len(chunk))
    print("***Time spent for reading file is: %.4f ms" %((time.perf_counter() - time_start)*1000))
print("Complete writing! Total Time spent is: %.4f s!"%((time.perf_counter() - time_start0)))

,addrTag,askPrice1,askPrice2,askPrice3,askPrice4,askPrice5,askVolume1,askVolume2,askVolume3,askVolume4,...,status,tickerIndex,tickerName,totalAskQty,totalBidQty,tradingDay,turnover,volume,weightedAvgAskPrc,weightedAvgBidPrc
0,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,000001.SZ,0,0,20210706,0,0,NaN,NaN
5968,0,22.07,NaN,NaN,NaN,NaN,900,0,0,0,...,0,0,000001.SZ,0,0,20210706,0,0,NaN,NaN
5969,0,22.07,NaN,NaN,NaN,NaN,900,0,0,0,...,0,0,000001.SZ,0,0,20210706,0,0,NaN,NaN
14776,0,22.18,NaN,NaN,NaN,NaN,30600,6000,0,0,...,0,0,000001.SZ,0,0,20210706,0,0,NaN,NaN
19176,0,22.18,NaN,NaN,NaN,NaN,36100,1400,0,0,...,0,0,000001.SZ,0,0,20210706,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187090,0,22.66,NaN,NaN,NaN,NaN,612511,0,0,0,...,0,0,000001.SZ,0,0,20210706,1766252143,78381826,NaN,NaN
192617,0,22.72,NaN,NaN,NaN,NaN,693311,0,0,0,...,0,0,000001.SZ,0,0,20210706,1766252143,78381826,NaN,NaN
198009,0,22.73,NaN,NaN,NaN,NaN,704311,0,0,0,...,0,0,000001.SZ,0,0,20210706,1766252143,78381826,NaN,NaN
205862,0,22.78,22.79,22.8,22.81,22.82,99711,64100,367650,245000,...,0,0,000001.SZ,9738243,3495843,20210706,1784792785,79195726,23.31,21.96
205863,0,22.78,22.79,22.8,22.81,22.82,99711,64100,367650,245000,...,0,0,000001.SZ,9738243,3495843,20210706,1784792785,79195726,23.31,21.96

In [6]:
reader_use["localTimeUnderMs"] = reader_use["localTimeUnderMs"].str.zfill(6)
reader_use["Time_use"] = reader_use["localTime"] + reader_use["localTimeUnderMs"]

# reader_use["Time_use"] = pd.to_datetime(reader_use["Time_use"])
reader_use["Time_use"] = reader_use["Time_use"].astype("int64")
# reader_use["Time_use"] = pd.to_datetime(reader_use["Time_use"])
reader_use["Time_use"] = reader_use["Time_use"].map_partitions(pd.to_datetime)
print("HI")
# reader_use.set_index("Time_use")

HI